GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxx
# per accedere alle Actions di GitHub e scaricare i file di output (SBOM) generati dalle Actions stesse.
MY_GITHUB_OWNER = "IlTuoNomeUtenteGitHub" 
MY_GITHUB_REPO = "IlNomeDellaTuaRepoDelTool"   